footer
  .container.text-center
    p.pull-left © 2016 Keith Kelly. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/kwkelly')
          i.fa.fa-github
          | github
      li
        a(href='https://twitter.com/KeithKelly')
          i.fa.fa-twitter
          | twitter
