extends layout

block content
  h2 About
  p This site was inspired by a foosball Elo rating system implemented by a colleague. Not to be outdone, I decided to turn it into a webapp. Hopefully this is an improvement.
