extends layout
block hero
  div.hero-image
    img.hero(src="/images/foosball-white.jpg")
    div.overlay
      h1.headline FoosKeeper v0.01
      span.description Taking the fun out of foosball since 2017
      a.btn.btn-default(href="/match") Add a match »
      a.btn.btn-default(href="/rankings") Rankings »
