extends layout

block content
  h1 FoosTracker v0.01
  p.lead Taking the fun out of Foosball since 2017
  hr
  .row
    .col-sm-6
      h2 New match
      p Play a competitive match
      p
        a.btn.btn-default(href='/match', role='button') New match »
  .row
    .col-sm-6
      h2 Rankings
      p Really the entire point of this whole thing is to make the rankings easy to view and easy to update.
      p
        a.btn.btn-default(href='/rankings', role='button') View rankings »
