extends layout
block hero
  div.hero-image
    //img.hero(src="/images/foosball-white-1600.jpg")
    div.hero
      div.overlay
        div.overlay-content
          h1.headline FoosKeeper
            sup  BETA
          span.description A record keeper for tabletop exercises.
          a.btn.btn-success(href="/match")
            i.fa.fa-gamepad
            | Add a match

          a.btn.btn-success(href="/rankings")
            i.fa.fa-trophy
            | View rankings
