doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - FoosKeeper
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/components/jquery-ui/themes/base/jquery-ui.min.css')
    link(rel='stylesheet', href='/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')

  body
    include partials/header
    include partials/flash
    block hero
    .container
      block content

    include partials/footer

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/jquery-ui/jquery-ui.min.js')
    script(src='/components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/components/fabric/dist/fabric.min.js')
    script(src='/components/darkroom/build/darkroom.js')
    script(src='/components/js-cookie/src/js.cookie.js')
    script(src='/js/main.js')

    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
