@import "themes/default/variables";

@import "../components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../components/font-awesome/scss/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

@font-face {
	font-family: "FontAwesome";
	src: url("../components/font-awesome/fonts/fontawesome-webfont.eot");
	src: url("../components/font-awesome/fonts/fontawesome-webfont.eot") format("embedded-opentype"),
	url("../components/font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
	url("../components/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"),
	url("../components/font-awesome/fonts/fontawesome-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

#select-container {text-align: center;}

.drop {
  width: 105px;
  //padding: 10px;
  border: solid 1px gray;
  border-radius: 5px;
  display: inline-block;
  background-color: white;
  margin: 5px 5px 5px 5px;
  //float: left;
  vertical-align: top;
  img {
    margin: auto;
    width: 100px;
    height: auto;
  }
}
.caption {
  pointer-events: none;
}
.contain2 {
  pointer-events: none;
}
// .drop-zone {
//   pointer-events: none;
// }
@media (max-width: 767px) {
  #drag-zone {
    width: 120px;
    display: inline-block;
    margin: 10px;
    float: left;
    clear: both;
  }
  #drop-container {
    height: 700px;
    width: 180px;
    display: inline-block;
    margin: auto;
    text-align: center;
    vertical-align: top;
    float: right;
  }
  .drop-zone {
    height: 150px;
    width: 115px;
    display: inline-block;
    margin: 10px;
    float: right;
  }
  .super-contain {
    max-width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
    float: left;
  }
  .fields {
    margin-top: 100px;
    clear: both;
  }
}

@media (min-width: 768px) {
  #drag-zone {
    width: 98%;
    display: inline-block;
    overflow: auto;
    margin: 10px;
    float: left;
    clear: both;
  }
  .super-contain {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  #drop-container {
    height: 180px;
    width: 500px;
    display: block;
    margin: auto;
    text-align: center;
  }
  .drop-zone {
    height: 150px;
    width: 115px;
    display: inline-block;
    margin-right: 10px;
    float: left;
  }
  .over {
    border: solid 1px black;
  
  }
}

.black-drop {
  background-color: #22313F;
  border-radius: 10px;
}

.red-drop {
  background-color: #e74c3c;
  border-radius: 10px;
}

.hero {
  min-width: 100vw;
  max-height: 95vh;
  min-height: 95vh;
  position: relative;
  float: left;
  // img {
  //   width: 100vw;
  //   height: auto;
  // }
  @media (min-width: 768px) {
    background-image: url("/images/foosball-white-1600.jpg");
    background-size: cover;
  }
  @media (max-width: 768px) {
    background-image: url("/images/foosball-white-169-small.jpg");
    background-size: cover;
  }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 20px;
    background: rgba(255,255,255, 0.5);
    display: block;
    width: 100%;
    text-align: center;
    //top: 25vw;
    .overlay-content {
      position: absolute;
      top: 15vw;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  a {
    margin: 10px;
  }
  .headline {
    margin-bottom: 10px;
  }
  .description {
    display: block;
    margin-bottom: 20px;
  }
}

img.rankings {
  width: 50px;
  height: auto;
}
